In [ ]:
from src.data_reader import DataReader

In [ ]:
dr = DataReader()

In [ ]:
dr.get_train_sessions()

In [15]:
dr.get_train_purchases()

        session_id  item_id                    date
0                3    15085 2020-12-18 21:26:47.986
1               13    18626 2020-03-13 19:36:15.507
2               18    24911 2020-08-26 19:20:32.049
3               19    12534 2020-11-02 17:16:45.920
4               24    13226 2020-02-26 18:27:44.114
...            ...      ...                     ...
999995     4439986     2915 2021-05-13 11:56:37.464
999996     4439990     8786 2020-08-22 14:28:22.382
999997     4439994    21630 2020-11-27 20:10:28.961
999998     4439999    16962 2020-11-27 11:01:41.356
999999     4440001    16631 2020-10-30 23:46:05.218

[1000000 rows x 3 columns]

In [16]:
dr.get_test_leaderboard_sessions()

        session_id  item_id                     date
0               26    19185  2021-06-16 09:53:54.158
1              200    17089  2021-06-25 12:23:40.811
2              200    17089  2021-06-25 12:24:36.631
3              200     8060  2021-06-25 12:24:41.677
4              200     4758  2021-06-25 12:24:50.692
...            ...      ...                      ...
229349     4439653    25955   2021-06-11 10:22:57.47
229350     4439653    12179  2021-06-11 10:23:00.663
229351     4439757     2078  2021-06-30 11:42:15.073
229352     4439757     2078  2021-06-30 11:43:13.725
229353     4439757     6790  2021-06-30 11:44:52.704

[229354 rows x 3 columns]

In [17]:
dr.get_test_final_sessions()

        session_id  item_id                     date
0               61    27088  2021-06-01 08:12:39.664
1               96    11693  2021-06-19 17:48:05.227
2               96    18298  2021-06-19 17:49:08.589
3               96     4738  2021-06-19 17:49:15.838
4               96      495   2021-06-19 17:49:20.88
...            ...      ...                      ...
226133     4439648     7154  2021-06-14 08:03:19.024
226134     4439675    23067  2021-06-01 12:21:07.959
226135     4439868    26085  2021-06-16 22:18:27.509
226136     4439966    19483  2021-06-06 20:05:06.457
226137     4439966    20782  2021-06-06 20:06:47.779

[226138 rows x 3 columns]

In [ ]:
dr.get_candidate_items()

In [ ]:
dr.get_item_features()

In [ ]:
a