In [2]:
from src.data_reader import DataReader
from src.constant import *
import matplotlib.pyplot as plt
import numpy as np

In [3]:
dr = DataReader()

In [4]:
train_sessions = dr.get_train_sessions()
train_purchases = dr.get_train_purchases()
leaderboard_sessions = dr.get_test_leaderboard_sessions()
test_final_sessions = dr.get_test_final_sessions()
candidate_items = dr.get_candidate_items()

item_features = dr.get_item_features()

In [7]:
train_sess_item = set(train_sessions[ITEM_ID])
train_purchases_item = set(train_purchases[ITEM_ID])
leaderboard_sessions_item = set(leaderboard_sessions[ITEM_ID]) 
test_final_sessions_item = set(test_final_sessions[ITEM_ID]) 
candidate_items_item = set(candidate_items[ITEM_ID])

In [17]:
all_items = train_sess_item.union(train_purchases_item, leaderboard_sessions_item, test_final_sessions_item, candidate_items_item)

In [18]:
set(item_features[ITEM_ID]).difference(all_items)

set()

In [24]:
np.array(list(all_items)).min()

2

In [1]:
from src.datasets.dataset import Dataset

In [8]:
item_features

        item_id  feature_category_id  feature_value_id
0             2                   56               365
1             2                   62               801
2             2                   68               351
3             2                   33               802
4             2                   72                75
...         ...                  ...               ...
471746    28143                   68               351
471747    28143                   55               390
471748    28143                   11               109
471749    28143                   73                91
471750    28143                   47               549

[471751 rows x 3 columns]

In [10]:
item_features[["feature_category_id", "feature_value_id"]].drop_duplicates().groupby("feature_category_id")["feature_value_id"].apply(list)

feature_category_id
1                         [461, 143, 517, 358, 771, 60]
2     [53, 851, 841, 56, 310, 467, 208, 343, 139, 10...
3                             [889, 793, 569, 241, 645]
4     [618, 719, 385, 331, 372, 862, 505, 637, 571, ...
5     [605, 472, 225, 396, 58, 529, 146, 160, 650, 2...
                            ...
69    [885, 592, 538, 805, 639, 780, 740, 116, 573, ...
70                     [81, 134, 213, 108, 88, 63, 330]
71    [477, 226, 848, 663, 405, 99, 41, 904, 115, 86...
72    [75, 649, 219, 829, 712, 748, 7, 655, 557, 381...
73                                            [544, 91]
Name: feature_value_id, Length: 73, dtype: object

In [12]:
dataset=Dataset()

In [16]:
dataset.get_oh_item_features()

,cat_1,cat_2,cat_3,cat_4,cat_5,cat_6,cat_7,cat_8,cat_9,cat_10,...,val_896,val_897,val_898,val_899,val_900,val_901,val_902,val_903,val_904,val_905
item_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23686,0,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
23687,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23688,1,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
23689,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
23690,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
train_sessions = dr.get_train_sessions()
train_sessions[SESS_ID].nunique()

1000000

In [ ]:
train_sessions[ITEM_ID].nunique()

In [ ]:
items = train_sessions[ITEM_ID].unique()

In [ ]:
items.min()

In [ ]:
items.max()

In [ ]:
train_sessions.groupby(SESS_ID).count()[DATE].hist(bins=100)
plt.xlabel("Session length")
plt.ylabel("Count")

In [ ]:
purch =dr.get_train_purchases()

In [ ]:
item_purch = sorted(purch[ITEM_ID].unique())

In [ ]:
len(list(set(item_purch).union(set(items))))

In [ ]:
dr.get_test_leaderboard_sessions()

In [ ]:
dr.get_test_final_sessions()

In [ ]:
candidate_items = dr.get_candidate_items()

In [ ]:
candidate_items

In [ ]:
set(items).intersection(set(candidate_items))

In [ ]:
candidate_items.min()

In [ ]:
candidate_items.max()

In [ ]:
sorted(items)

In [ ]:
item_features = dr.get_item_features()

In [ ]:
item_features

In [ ]:
item_features[F_CAT].nunique()

In [ ]:
item_features[ITEM_ID].nunique()

In [ ]:
item_itemf=item_features[ITEM_ID].unique()

In [ ]:
item_itemf.max()

In [ ]:
set(items).difference(item_itemf)

In [ ]:
item_features[F_CAT].max()

In [ ]:
f_cat = item_features[F_CAT].unique()

In [ ]:
f_cat.max()

In [ ]:
item_features

In [ ]:
ff = item_features[[F_CAT, F_VAL]].drop_duplicates()

In [ ]:
item_features.groupby(F_VAL).count()

In [ ]:
item_features[item_features[F_VAL]==1]

In [ ]:
len(sorted(item_features[F_VAL].unique()))

In [ ]:
item_features[F_VAL].nunique()

In [ ]:
sorted(item_features[F_VAL].unique())

In [ ]:
item_features

In [ ]:
temp = ff.groupby(F_VAL).count()

In [ ]:
temp

In [ ]:
temp[temp[F_CAT]>1]

In [ ]:
ff.groupby(F_CAT).count().hist()

In [ ]:
item_features.groupby(ITEM_ID).count()

In [ ]:
item_features.groupby(ITEM_ID).count()[F_VAL].hist(bins=30)
plt.xlabel("number f_val per item")
plt.ylabel("count")

In [ ]:
sorted(ff[F_CAT].unique())

In [ ]:
ff[ff[F_VAL]==40]

In [ ]:
ff[ff[F_VAL]==844]

In [ ]:
ff.groupby(F_CAT)

In [ ]:
ff.groupby(F_CAT).count().hist(bins=20)
plt.xlabel("feature category")
plt.ylabel("number of f_val in the category")

In [ ]:
item_features.groupby(ITEM_ID)[F_CAT].hist(bins=100)

In [ ]:
a