In [1]:
from src.data_reader import DataReader
from src.constant import *
import matplotlib.pyplot as plt
import numpy as np
from src.datasets.dataset import Dataset
from src.models.itemknn.itemknn import ItemKNN
import pandas as pd

In [2]:
dataset = Dataset()

In [3]:
lead_data = dataset.get_test_leaderboard_sessions()

In [4]:
model = ItemKNN(dataset, topk=2000, time_weight=50, t1=0.1, t2=0, shrink=0, normalization=False, c=0.3, l=1)

In [5]:
full_data = dataset.get_train_sessions()

In [6]:
model.compute_similarity_matrix(full_data)

Done: 100%|██████████| 23691/23691 [00:01<00:00, 22774.44it/s]

In [7]:
recs = model.recommend(
    interactions=lead_data,
    remove_seen=True,
    cutoff=100,
    leaderboard=True
)

Using Time Weight on Interaction matrix
Considering white list items...

In [8]:
dataset.create_submission(recs, sub_name="ItemKNN_tw")

Submission with name: ItemKNN_tw created succesfully!

In [11]:
dataset.get_oh_item_features()

,item_id,cat_1,cat_2,cat_3,cat_4,cat_5,cat_6,cat_7,cat_8,cat_9,...,val_896,val_897,val_898,val_899,val_900,val_901,val_902,val_903,val_904,val_905
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23686,23686,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
23687,23687,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23688,23688,1,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
23689,23689,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
23690,23690,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0