In [42]:
from src.data_reader import DataReader
from src.constant import *
import matplotlib.pyplot as plt
import numpy as np
from src.datasets.dataset import Dataset
from src.models.itemknn.itemknn import ItemKNN
from src.models.cb_iknn.cb_iknn import CBItemKNN
import pandas as pd
from src.evaluation import compute_mrr
import scipy.sparse as sps

In [43]:
dataset = Dataset()

In [30]:
content_matrix = dataset.get_oh_item_features()

In [31]:
sparse_content_matrix = sps.csr_matrix(content_matrix.values, dtype=np.float32)

In [32]:
import similaripy

In [33]:
sim = similaripy.cosine(
            sparse_content_matrix,
            k=1000,
        )

Done: 100%|██████████| 23691/23691 [00:01<00:00, 20929.24it/s]

In [41]:
sim.todense().sum(axis=1).mean()

999.72156

In [4]:
content_matrix

,item_id,cat_1,cat_2,cat_3,cat_4,cat_5,cat_6,cat_7,cat_8,cat_9,...,val_896,val_897,val_898,val_899,val_900,val_901,val_902,val_903,val_904,val_905
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23686,23686,0,0,1,1,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
23687,23687,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23688,23688,1,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
23689,23689,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
23690,23690,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
sparse_content_matrix = sps.csr_matrix(content_matrix.values, dtype=np.float32)

In [8]:
sparse_content_matrix

<23691x964 sparse matrix of type '<class 'numpy.float64'>'
	with 955477 stored elements in Compressed Sparse Row format>

In [9]:
import similaripy

In [11]:
similaripy.cosine(sparse_content_matrix)

Done: 100%|██████████| 23691/23691 [00:00<00:00, 25192.18it/s]

<23691x23691 sparse matrix of type '<class 'numpy.float32'>'
	with 2369100 stored elements in COOrdinate format>

In [44]:
split_dict = dataset.get_split()

In [45]:
train, train_label = split_dict[TRAIN]

In [46]:
val, val_label = split_dict[VAL]

In [55]:
model = CBItemKNN(dataset, topk=2000, time_weight=50, t1=0.1, t2=0, shrink=0, normalization=False, c=0.3, l=1)
#model = CBItemKNN(dataset, topk=2000)

In [56]:
model.compute_similarity_matrix(train)

Done: 100%|██████████| 23691/23691 [00:01<00:00, 16030.51it/s]

In [57]:
recs = model.recommend(
    interactions=val,
    remove_seen=True,
    cutoff=100,
    leaderboard=False
)

Using Time Weight on Interaction matrix

In [58]:
compute_mrr(recs, val_label)

MRR: 0.04681699771592884

0.04681699771592884